div {
  @starting-style {
    scale: 0;
  }

  background-color: var(--color-bg-1);
  border-radius: var(--border-radius);
  border: none;
  contain: content;
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  transition: scale 250ms;

  button {
    background: none;
    border: none;
    color: var(--color-danger);
    cursor: pointer;
    font-size: 2rem;

    &:hover {
      opacity: 0.8;
    }
  }

  fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;

    label {
      align-items: center;
      display: flex;
      flex-direction: column;

      input {
        background: none;
        border: none;
        color: var(--color-fg);
        font-family: inherit;
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        width: 5ch;

        &:invalid {
          color: var(--color-danger);
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          appearance: none;
        }
      }
    }
  }
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.small {
  font-size: 0.8em;
}

.weak {
  opacity: 0.5;
}
