body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  min-height: 100dvh;
  padding: 32px 8px 16px 8px;
}

footer {
  @media screen and (max-width: 400px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media not screen and (max-width: 400px) {
    align-items: end;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;

    :first-child {
      justify-self: start;
    }

    :last-child {
      justify-self: end;
    }
  }
}

h1 {
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;

  > section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
  }
}

#breakpoint-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

#add-breakpoint-button,
#help-dialog-close-button {
  border-radius: calc(infinity * 1px);
  height: 3rem;
  padding: 0;
  width: 3rem;

  span {
    font-size: 3rem;
  }
}

#help-dialog {
  background-color: var(--color-bg-1);
  border-radius: var(--border-radius);
  border: none;
  box-sizing: border-box;
  color: inherit;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  overflow: auto;
  padding: 8px 16px;

  top: 50%;
  left: 50%;
  translate: -50% -50%;

  /* Interpolates width from 280px to 768px
   * based on the following steps:
   * 280px at 280px viewport width
   * 768px at 800px viewport width
   */
  width: clamp(280px, 17.23px + 93.85vw, 768px);

  transition: 250ms ease;
  transition-behavior: allow-discrete;
  transition-property: display, opacity, overlay;

  &[open] {
    opacity: 1;

    &::backdrop {
      backdrop-filter: blur(15px);
    }
  }

  &::backdrop {
    backdrop-filter: none;
    background: transparent;
    transition: backdrop-filter 250ms ease;
  }

  h2,
  p,
  pre {
    margin: revert;
  }
}

#help-dialog-close-button {
  float: right;
}

#made-by {
  text-align: center;
}
